*.pyc
__pycache__/
db.sqlite3
media/
staticfiles/
venv/
*.log
*.pot
*.pyc
*.so
*.tmp
*.DS_Store
*.idea/
*.vscode/
*.egg-info/
.installed.cfg
.pytest_cache/
.pyre/
.tox/
.coverage
.pyre/
.mypy_cache/
.pip/
__pycache__/
