<!DOCTYPE html>
<html>
<head>
    <title>Create Your Note</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>
<body>
    <div class="container">
        <h1>Create Your Note - app by Gaurav Surnis</h1>
        <form method="post">
            {% csrf_token %}
            <textarea name="content" rows="4" cols="50" placeholder="What's on your mind?"></textarea><br>
            <button type="submit" class="button">Save My Thought</button>
        </form>
        <br>
        <a href="{% url 'list_notes' %}">
            <button type="button" class="button">View My Notes</button>
        </a>
    </div>
</body>
</html>
